@font-face {
  font-family: "bianzhidai-Base";
  src: url("../public/bianzhidai-Base.otf");
}

:root {
  --primary-background-color: #000000;
  --primary-aside-color: #ffffffbf;
  --primary-text-color: #dcdad7;
  --primary-darker-color: #919191;
  --primary-border-color:#ffffff;
  --secondary-border-color:#000000;
  --secondary-background-color: #ffffff;
  --secondary-aside-color: #ffffff;
  --secondary-text-color: #262626;
  --color-transparent:#ffffff00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
  font-size: 16px;
}

main {
  position: relative;
  width: 100%;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}
h1 {
  text-align: center;
}

li {
  list-style-type: none;
  cursor: pointer;
}

button {
  line-height: 25px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}
button a {
  display: inline-block;
  width: 100%;
  color: var(--secondary-text-color);
}

button:hover {
  transform: scale(0.98);
}

iframe {
  align-self: center;
}
.invisible {
  position: absolute;
  top: 0;
}
.buttons {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.buttons > * {
  cursor: pointer;
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border: 0px solid var(--secondary-text-color);
  width: 45px;
}

.buttons > *:hover {
  transition: all 0.3s ease;
  transform: scale(0.9);
}

.buttons .top-btn {
  font-size: xx-large;
  line-height: 45px;
  height: 45px;
}

.buttons .all-btn {
  height: 30px;
}

.list-tags-item {
  width: fit-content;
  max-width: 200px;
  flex: 1;
  text-align: center;
  margin-left: 5px;
}

.list-tags-item:hover {
  font-weight: 900;
}

.container {
  position: relative;
  width: 100%;
padding: 15px;
  flex: 1;
}

.cards {
  width: 100%;
}
.card {
  background-color: rgba(216, 191, 216, 0);
  border: 1px solid var(--primary-border-color);
  padding: 10px;

  margin-bottom: 15px;
}

.card:hover {
  animation: rotate 0.35s ease-in-out;
}

.card:hover .card-info-img-src {
  filter: none;
}



.card-info-titles {
  word-break: break-all;
}

.card-info-singer {
  font-size: small;
  color: var(--primary-darker-color);
  font-style: italic;
}

.card-info-img {
  width: 100%;
  margin-bottom: 15px;
  max-height: 270px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ededed;

}

.card-info-img-src {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info-date {
  clip-path: inset(0% 0% 0% 0%);
  cursor: pointer;
}

.card-info-review {
  min-height: 80px;
  flex: 1;
  width: 100%;
  border-right: 3px solid var(--color-transparent);
  padding: 2px;
  overflow-y: scroll;
  font-size: 0.85rem;
}

.card-info-review::-webkit-scrollbar {
  width: 3px;
}

.card-info-review::-webkit-scrollbar-track {
  background-color: var(--color-transparent);
  border-radius: 10px;
}
.card-info-review::-webkit-scrollbar-thumb {
  background-color: var(--color-transparent);
  border-radius: 10px;
}

.card-info-tags {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  
    width: 100%;
}
.card-info-tag {
  cursor: pointer;
  word-break: break-all;
}

.card-info-tags .card-info-tag {
  flex: 1;
  text-align: center;
  width: 100%;
  border: 1px solid var(--primary-border-color);
  font-size: 0.8rem;
}

.card-info-date:hover,
.card-info-tag:hover {
  animation: rotate 0.35s ease-in-out;
  color: var(--primary-darker-color);
  text-shadow: 1px 1px 1px rgb(196, 196, 196);
}

.card-play-btn {
  width: 20%;
  border-radius: 50%;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-border-color);
  height: fit-content;
  cursor: pointer;
}
.card-play-btn:hover {
  transform: scale(1.1);
  transition: all 0.1s ease;
}

.card-info-tip {
  font-size: x-small;
}

aside {
  color: var(--secondary-text-color);
  background-color: var(--primary-aside-color);

  border-left: 10px double;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

aside a {
  text-decoration: none;
}
.list {
  border: 1px solid var(--secondary-border-color);
  padding: 15px;
}

.list li,
.list a {
  border-bottom: 1px solid var(--color-transparent);
  height: 1.6rem;
  margin: 3px 0 3px 0;
  text-align: left;
  text-decoration: none;
}

.list-date {
  display: flex;
  flex-direction: column;
  height: fit-content;
}




.list-tags {
  width: 100%;
  align-items: center;
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  position: relative;
}

.list-tags .card-info-tag {
  border-bottom: 1px gainsboro outset;
}

.list-tags-btn {
  width: 100%;
  border: none;
  line-height: 25px;
  font-weight: bolder;
  margin: 5px 0 15px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.list-posts {
  background-color: rgb(255, 255, 255);
  color: var(--secondary-text-color);
  height: fit-content;
}

.pagination {
  display: block;
  position: absolute;
  bottom: 0;
}

.search {
  width: 100%;
  height: 40px;
}



.list-articles {
  width: 100%;
  height: fit-content;
}

.list-articles li {
  height: fit-content;
  background-color: var(--primary-background-color);
  border: 1px outset #7e7e7e;
}

.list-articles a {
  color: var(--secondary-text-color);
}

.list-articles li:hover {
  border: 1px inset;
  background-color: #7e7e7e;
}

/* posts页面 */

.posts {
    position: relative;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  .list {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);

    ul {
      display: flex;
      flex-direction: column;
      li {
        height: fit-content;
      }
      li:hover {
        transform: rotate(1deg);
        transform-origin: left;
      }
    }
  }

  aside {
    border: none;

    .posts-buttons {
      display: flex;
      justify-content: space-around;
      button{
        padding: 3px;
      }
      button:hover{
        box-shadow: 2px 2px;
      }

    }
    .posts-buttons :last-child {
      background-color: var(--primary-background-color);
      color: var(--secondary-aside-color);
    }

    .posts-article {
      span {
        color: var(--primary-text-color);
      }
    }
  }

  .container .posts-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    background-color: transparent;
  }


  .posts-content img {
    width: 100%;
  }
}
@keyframes in {
  0% {
    transform: translateX(0);
  }

  25% {
    color: #7e7e7e;
  }

  50% {
    color: #cecece;
  }

  75% {
    color: #7e7e7e;
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@-moz-document url-prefix() {
  .container {
    scrollbar-color: var(--color-transparent) var(--color-transparent);
  }
  .card-info-review {
    padding-right: 2px;
    scrollbar-color: var(--track-color, var(--color-transparent)) var(--thumb-color, var(--color-transparent));
    scrollbar-width: thin;
  }
  }

@media (min-width: 305px) {
main {
    display: flex;
    flex-direction: column-reverse;
    max-height: fit-content;
}

h1{
    cursor: pointer;
}

.buttons {
    right: 5px;
    top: 65%;
}

.container {
      margin-top: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 0.8rem;
}
.card {
    width: 100%;
    height: fit-content;
    border: 1px solid #fff;
}

.card-info{
    display: grid;
    grid-template:
    "a b"
    "c c"
    "d d"
    "e f";
    grid-template-columns: 55% 45%;
}

.card-info-img {
    display: flex;
    justify-content: end;
    grid-area: b;
    filter: none;
}

.card-info-img-src {
    transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.card-info-text {
    grid-area: a;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-info-text h3 {
    font-size: 1.5rem;
}
.card-info-date {
    grid-area: e;
}
.card-play-btn {
    grid-area: f;
    justify-self: right;
}
.card-info-review {
    font-size: 0.75rem;
    height: fit-content;
    grid-area: c;
    align-self: self-end;
}

.card-info-tags {
    grid-area: d;
    align-self: self-end;

    margin-bottom: 15px;
    font-size: 0.5rem;
    line-height: 1.4;
}

aside {
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
    padding: 0px;
    border-bottom: 3px double white;
    border-left: 0px;
    overflow: auto;
    align-self: flex-start;
}

aside h1 {
    background-color: var(--secondary-background-color);
}

.list {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    border-inline: 0px solid #000;
}


.list-date {
    flex-direction: row;
    border-bottom: 1px solid white;
    justify-content: flex-start;
    gap: 20px;
    overflow-x: scroll;
}
.list-date.card-info-date {
    width: fit-content;
}

.list-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}


.list-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.posts {
    aside {
    width: 100%;
    }
}
}

@media (min-width: 615px) {
  main {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 100dvh;
  }

h1{
    cursor:default;
}
  .container {
    height: 100dvh;
    overflow-y: scroll;
    padding-top: 20px; margin-bottom: 0px;
            margin-top: 0px;
  }

  .container::-webkit-scrollbar {
    width: 6px;
  }

  .container::-webkit-scrollbar-track {
    background-color: var(--color-transparent);
    border-radius: 10px;
  }
.buttons {
        left: 5px;
        top: 85%;
}

  aside {
    overflow-y: scroll;
    position: relative;
    height: 100dvh;
    width: 20%;
    padding: 20px;
    gap: 20px;
  }
  .cards {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-gap: 20px;
  }

  .card {
    height: 545px;
  }

  .card-info {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .card-info-img{
  filter: grayscale(1);
  }
  .card-info-img:hover {
    filter: none;
  }
  
.card-info-img-src {
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
  .card-info-img-src:hover {
    object-fit: contain;
    transform: scale(0.95);
  }

  .card-info-tags{
    
  margin-bottom: 0px;
  }
aside h1 {
    background-color:#00000000;
}

  .list {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
border: 1px solid #000;
}
  

.list-date {
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  min-height: 35vh;
    gap: 5px;
    overflow-x:hidden;
}


  .list-date li:hover {
    border-bottom: 1px solid #ffffff;
  }


  .list-date li:hover span {
    margin: 0;
    padding: 0;
    display: block;
    width: inherit;
    font-size: 1.2rem;
    font-weight: 800;
    transform: translateX(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s all;
  }

.list-tags {
  display: block;
  gap: 0px;
  max-height: 40vh;
}

  .posts {
    aside {
      width: 50%;
    }
  }
}
